body{
    background-size: cover;
    background-position: center;
    color: #fff !important;
}
.bga{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/Challenges-of-business-service-monitoring-in-the-internet-of-services.png);


}
.services
{

    text-align: center;
}
h1
{
    font-family: sans-serif;
    letter-spacing: 1px;
}

.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding-top: 10px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}
.icon:hover{

    background-color: #ff532b;
    color: white;
}
.col-md-3:hover
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    background-color: ;
    border: 1px solid #ff532b;

}
.display{
    text-decoration-color: black;
}
  
 
  